/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* GLOBAL STYLES */

:root {
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-3: 'Rubik Glitch', cursive;
  --font-4: 'Press Start 2P', cursive;
  --font-code: 'Roboto', monospace;
  --bg-color: #000000;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #BD9E5A;
  --header-shadow: #000 0px 0px 5px;
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-4);
  font-style: italic;
  font-weight: bold;
  font-size: .75rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

/* REUSABLE CSS CLASSES */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.diamond_logo {
  width: 65px;
}

.icon_header:hover {
  color: var(--accent-color);
}

.icon_header {
  color: var(--font-color);
  font-size: 25px;
  margin: -10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.wallet-btn {
  border-radius: 5rem;
  border-color: transparent;
  font-size: .65rem;
}

/* CHANGE BACKGROUND HEADER */
.scroll-header {
  background-color: var(--bg-color);
  box-shadow: 0 1px 2px 0 #383838;
}

/* HOME */
.home_section {
  height: 100vh;
}

/* COUNTDOWN */
.countdown_container {
  padding-top: 4rem;
  position: relative;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yousic_logo {
  max-width: 75%;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 2rem
}

.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}

.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}

.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.discord_content h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 1.25rem;
  text-align: center;
  font-family: var(--font-4);
}

.discord_content p {
  font-size: .75rem;
  font-family: var(--font-4);
  margin-bottom: 1rem;
  text-align: center;
  color: var(--accent-color);
}

.youser_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn {
  border-radius: 4px;
  padding: .75rem 1rem;
  margin-bottom: 2rem;
}

.discord_icon {
  color: var(--accent-color);
  font-size: 25px;
  vertical-align: middle;
}



/* NEWSLETTER */
.newsletter_container {
  text-align: center;
  margin-top: 2rem;
}

.newsletter_content {
  background-color: var(--accent-color);
  padding: 6rem;
}

.newsletter_title {
  font-family: var(--font-4);
  font-size: 1rem;
  color: var(--bg-color);
  padding-bottom: .75rem;
}

.newsletter_description {
  color: hsl(0, 0%, 35%);
  font-family: var(--font-4);
  font-size: .75rem;
  padding-bottom: 2rem;
  line-height: 2;
}

.newsletter_input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.25rem .75rem;
  color: hsl(0, 0%, 15%);
  font-family: var(--font-4);
  margin-right: -10px;
}

.newsletter_button {
  background-color: var(--bg-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-family: var(--font-4);
  border: none;
  outline: none;
  cursor: pointer;
}

/* SCROLL DOWN DESCRIPTION */
.scroll_down-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  text-align: center;
  z-index: 100;
  transition: .3s;
  cursor: pointer;
}

.scroll_down-container:hover {
  transform: translateY(0.25rem);
}

.scroll_down {
  font-family: var(--font-4);
  text-decoration: none;
  color: var(--accent-color);
  text-align: center;
  font-weight: 100;
  font-size: .75rem;
}

.scroll_down:hover {
  color: var(--font-color);
}

.arrow_down {
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}

/* MEDIA QUERIES */
/* FOR LARGE DEVICES */
@media screen and (max-width: 800px) {
  .countdown .clock-item {
    width: 50px;
  }

  .countdown ul {
    gap: 1rem;
  }

  .countdown .clock-item .count-number {
    font-size: 1rem;
  }

  .countdown .clock-item .count-text {
    font-size: .75rem;
  }

  .hero-btn {
    padding: .5rem .75rem;
    font-size: .65rem;
  }

  .discord_content h1 {
    font-size: 1rem;
  }

  .discord_icon {
    font-size: 1rem;
  }

  .discord_content p {
    font-size: .65rem;
  }

  .newsletter_content {
    padding: 4rem;
  }

  .newsletter_title {
    font-size: .75rem;
  }

  .newsletter_description {
    font-size: .6rem;
    line-height: 1.5;
  }

  .newsletter_input {
    padding: 1.25rem .75rem;
    font-size: .5rem;
  }

  .newsletter_button {
    padding: 1.25rem .75rem;
    font-size: .5rem;
  }

  .scroll_down {
    font-size: .5rem;
  }
}

/* FOR MEDIUM DEVICES */
@media screen and (max-width: 600px) {
  .countdown .clock-item {
    width: 40px;
  }

  .countdown ul {
    gap: .75rem;
  }

  .countdown .clock-item .count-number {
    font-size: .75rem;
  }

  .countdown .clock-item .count-text {
    font-size: .5rem;
  }

  .hero-btn {
    padding: .5rem .75rem;
    font-size: .6srem;
  }

  .discord_content h1 {
    font-size: .8rem;
  }

  .discord_icon {
    font-size: 1rem;
  }

  .discord_content p {
    font-size: .5rem;
  }

  .newsletter_content {
    padding: 2rem;
  }

  .newsletter_title {
    font-size: .6rem;
  }

  .newsletter_description {
    font-size: .5rem;
    line-height: 1.5;
  }

  .newsletter_input {
    padding: 1.25rem .75rem;
    font-size: .5rem;
  }

  .newsletter_button {
    padding: 1.25rem .75rem;
    font-size: .5rem;
  }
}

/* FOR SMALL DEVICES */
@media screen and (max-width: 400px) {
  .hero-btn {
    padding: .5rem .75rem;
    font-size: .5rem;
  }

  .discord_content h1 {
    font-size: .7rem;
  }

  .discord_icon {
    font-size: .7rem;
  }

  .discord_content p {
    font-size: .4rem;
  }

  .newsletter_content {
    padding: 1rem;
  }

  .newsletter_title {
    font-size: .6rem;
  }

  .newsletter_description {
    font-size: .5rem;
    line-height: 1.5;
  }

  .newsletter_input {
    padding: 1rem .5rem;
    font-size: .3rem;
  }

  .newsletter_button {
    padding: 1rem .5rem;
    font-size: .4rem;
  }
}